@import url("https://fonts.googleapis.com/css2?family=Actor&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

ion-content {
  --background: #041134;
  font-family: "Actor", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

.voltar {
  color: rgb(252, 252, 252);
  padding-top: 10px;
  align-self: center;
  margin-bottom: 20px;
  width: 70%;
}

.cadastro {
  color: rgb(252, 252, 252);
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 1px;
  align-self: flex-start;
  margin-left: 14%;
  margin-top: 10vh; /* Adicionei margin-top */
}
.registro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.registro form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ion-item {
  --background: #bdbaba;
  --border-radius: 20px;
  --padding-start: 16px;
  --padding-end: 16px;
  margin-bottom: 20px;
  width: 70%;
}

ion-input {
  --color: #000000;
  --placeholder-color: #070101;
}

.termos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
  color: rgb(252, 252, 252);
  width: 70%;
}

.termos ion-checkbox {
  margin-right: 10px;
}

.login-button {
  --background: #1b2a54;
  margin-top: 20px;
  width: 50%;
  height: 48px;
  --border-radius: 20px;
}