 @import url("https://fonts.googleapis.com/css2?family=Actor&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

 ion-toolbar {
   --background: #1b2a54;

 }

 ion-menu-button {
   font-size: 30px;
   color: white;
 }

 ion-content {
   font-family: "Actor", sans-serif;
   display: flex;
   justify-content: center; // centraliza horizontalmente
   align-items: center; // centraliza verticalmente
   flex-direction: column; // itens em coluna
   padding: 16px;
   --background: #1b2a54;

 }

 .texto {
   color: white;
   text-align: center;
   padding-bottom: 10vh;
 }

 .selecione {
   display: flex;
   padding: 16px 0;
   justify-content: center;
   align-items: center;
   text-align: center;
 }

 ion-list {

   width: 40%;
   border: 1px solid #4a5588;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
   border-radius: 15px;
   font-size: 20px;
   color: white;
   background: #1b2a54;
   padding: 0;
 }

 .grafico {
   margin-top: 30px;
   padding: 0 16px;
   color: white;

 }

 .grafico h2 {
   font-size: 20px;
   font-weight: 450;
   margin-bottom: 30px;
   text-align: center;
 }

 .grafico-barras {
   display: flex;
   justify-content: center;
   align-items: flex-end;
   gap: 16px;
   height: 200px;
   border-left: 1px solid #ccc;
   border-bottom: 1px solid #ccc;
   padding-left: 10px;

 }

 .barra {
   width: 60px;
   background-color: #3880ff;
   display: flex;
   justify-content: center;
   align-items: flex-end;
   border-radius: 6px 6px 0 0;
   transition: height 0.3s ease;
   position: relative;

 }

 .barra span {
   writing-mode: vertical-rl;
   transform: rotate(180deg);
   font-size: 15px;
   padding: 6px;
   color: #fff;

 }

 ion-card {
   background-color: #1b1f3b;
   width: 90%;
   max-width: 400px;
   margin: 30px auto;
   /* Centraliza horizontalmente */
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
   border-radius: 12px;
 }

 ion-card-title {
   text-align: center;
   font-size: 20px;
   font-weight: bold;
   color: white;
   margin-bottom: 10px;
 }

 ion-card-content ul {
   list-style: none;
   padding: 0;
   margin: 0;
 }

 ion-card-content li {
   display: flex;
   justify-content: space-between;
   padding: 12px 10px;
   border-bottom: 1px solid #e0e0e0;
   align-items: center;
 }

 ion-card-content li:last-child {
   border-bottom: none;
 }

 .nome {
   font-size: 16px;
   color: white;
 }

 .pontos {
   font-weight: bold;
   color: #3880ff;
   font-size: 15px;
 }








 ion-tab-bar {
   --background: #1b1f3b;


 }

 ion-tab-bar ion-icon {
   font-size: 25px;
   color: white;
 }

 ion-footer {
   position: fixed !important;
   bottom: 0 !important;
   width: 100% !important;
   z-index: 10 !important;
 }