<ion-content>
  <div class="welcome">
    <h1>Olá!</h1>
    <p>Seja Bem-Vindo a Woodstock Study</p>
  </div>

  <div class="caixa_login">
    <h3>Login</h3>

    <form (ngSubmit)="login()">
      <ion-item lines="full">

        <ion-input [(ngModel)]="email" name="email" type="email" required placeholder="E-mail"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-input [(ngModel)]="password" name="password" type="password" required placeholder="Senha"></ion-input>
      </ion-item>

      <a class="forgot" (click)="forgotPassword()">Esqueci minha senha</a>

      <ion-button type="submit" expand="block" class="login-button">Login</ion-button>
    </form>

    <div class="divisor">
      <span>ou entre com</span>
    </div>

    <div class="botoes">
      <ion-button expand="block" (click)="loginWithGoogle()">
        <ion-icon slot="start" name="logo-google"></ion-icon>
        Google
      </ion-button>
      <ion-button expand="block" (click)="loginWithApple()">
        <ion-icon slot="start" name="logo-apple"></ion-icon>
        Icloud
      </ion-button>
    </div>

    <p class="signup">Não possui uma conta ainda? <a (click)="signup()">Crie uma</a></p>
  </div>
</ion-content>